@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SECTION */

section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 64px;
  max-width: 1440px;
  min-height: 815px;
  background: #ffffff;
}

/* TITLE */

section .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  max-width: 1312px;
  height: 151px;
}

section .title h1 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

section .title p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

section .title button {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background: none;
  cursor: pointer;
}

/* ITEMS */

section .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 100%;
  min-height: 472px;
}

section .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  isolation: isolate;
  width: 360px;
  height: 472px;
  position: relative;
}

/* ITEM IMAGES */

section .items .item .images .first-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  object-fit: cover;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  z-index: 0;
}

section .items .item .images .second-img {
  position: absolute;
  width: 160px;
  height: 160px;
  z-index: -100;
  border-radius: 50%;
}

section .items .item .images .left-top {
  left: -28.1%;
  right: -17.36%;
  top: 0%;
  bottom: -17.7%;
}

section .items .item .images .left-bottom {
  left: -46px;
  top: 236px;
}

section .items .item .images .right-top {
  left: 230px;
  top: -32px;
}

section .items .item .images .right-bottom {
  left: 232px;
  top: 232px;
}

/* ITEM INFO */

section .items .item .info {
  width: 360px;
  height: 80px;
}

section .items .item .info h2 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  z-index: 100;
}

/* RESPONSIVE */

@media only screen and (max-width: 1350px) {
  section .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 900px) {
}
