@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 64px;
  position: relative;
  width: 1440px;
  height: 815px;
  background: #ffffff;
}
